name: Trello Card - GitHub Integration

on:
  push:
    branches:
      - main

jobs:
  create-trello-card:
    runs-on: ubuntu-latest

    env:
      TRELLO_KEY: ${{ secrets.TRELLO_KEY }}
      TRELLO_TOKEN: ${{ secrets.TRELLO_TOKEN }}
      TRELLO_LIST_ID: ${{ secrets.TRELLO_LIST_ID }}
      COMMIT_MESSAGE: ${{ github.event.head_commit.message }}
      COMMIT_AUTHOR: ${{ github.event.head_commit.author.name }}
      COMMIT_URL: https://github.com/${{ github.repository }}/commit/${{ github.sha }}
      REPO_NAME: ${{ github.repository }}

    steps:
      - name: Create Trello card for this commit
        run: |
          CARD_NAME="Commit by ${COMMIT_AUTHOR}: ${COMMIT_MESSAGE}"
          CARD_DESC="Repository: ${REPO_NAME}
          Author: ${COMMIT_AUTHOR}
          Commit message: ${COMMIT_MESSAGE}
          Commit URL: ${COMMIT_URL}"

          curl -X POST "https://api.trello.com/1/cards" \
            --data-urlencode "name=${CARD_NAME}" \
            --data-urlencode "desc=${CARD_DESC}" \
            --data-urlencode "idList=${TRELLO_LIST_ID}" \
            --data-urlencode "key=${TRELLO_KEY}" \
            --data-urlencode "token=${TRELLO_TOKEN}"
